---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/src/n64.png" />
		<meta name="generator" content={Astro.generator} />
    <title>N64</title>
    <ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
  body {
    font-family: "ProFontIIxNerdFont-Regular.ttf";
    background-color: #11111b;
    color: #cdd6f4;
		width: 100%;
  }

  @font-face {
    font-family: ProFontIIxNerdFont-Regular.ttf;
    src: url("/src/fonts/ProFontIIxNerdFont-Regular.ttf");
  }
</style>
